@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  box-sizing: border-box;
}

#wrapper {
  margin: 0 auto;
  width: 1200px;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

ul {
  float: right;
  list-style: none;
}

li {
  display: inline;
}


#col1 {
  width: 350px;
  float: left;
}

#col2 {
  width: 750px;
  float: right;
}

.colhead {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid teal;
  width: 500px;
  font-family: helvetica;
}

thead {
  background-color: teal;
  color: white;
}

tbody tr:nth-child(2n) {
  background-color: grey;
}

th {
  padding: 5px;
  text-align: left;
}

td {
  padding: 5px;
}
